/*layout*/
.container {
  max-width: 1305px;
  margin: 0 auto;
}
/*button*/
.button {
  border-radius: 32px;
  border: none;
  background-color: #fff;
  font-family: GolosBold;
  cursor: pointer;
  display: inline-block;
}

.button--fill {
  border-radius: 70px;
  background-color: var(--orange-color);
  color: #fff;
}
.button--fill:hover {
  background-color: var(--orange-hover-color);
}

.button--empty {
  background-color: transparent;
  border-radius: 70px;
  color: var(--orange-color);
  border: 1px solid var(--orange-color);
}

/*table*/
.table {
  text-align: center;
  position: relative;
  color: var(--dark-green);
}

.dataTables_info {
  display: none;
}
.dataTables_length {
  display: none;
}
table.dataTable {
  border-collapse: collapse;
}

.thead tr {
  position: relative;
}
table.dataTable thead th {
  padding: 15px;
}
.table thead th {
  border: none;
  vertical-align: middle;
}
.thead {
  position: relative;
}
.thead::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff8d1;
  border-radius: 32px;
  position: absolute;
  top: 0;
  left: 0;
}
table.dataTable thead th {
  border: none;
  text-align: center;
}

.table td,
.table th {
  border-top: none;
}
.table tbody tr {
  border-bottom: 1px solid var(--light-green);
}

.table tbody tr td {
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .table tbody tr td {
    padding: 10px;
  }
}

@media screen and (max-width: 640px) {
  .table {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .table {
    font-size: 8px;
  }

  .table thead th {
    padding: 5px !important;
  }
}

/*pagination*/
.dataTables_wrapper .dataTables_paginate {
  float: none;
  display: flex;
  color: var(--dark-green);
  justify-content: center;
  margin-top: 54px;
}
.paginate_button.previous,
.paginate_button.next {
  display: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  width: 48px;
  height: 48px;
  background: #fff8d1;
  justify-content: center;
  border-radius: 50%;
  padding: 0.7em 1em;
  border: none;
  transition: all 0.3s;
  margin-left: 14px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: var(--orange-color);
  border: none;
  color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: var(--orange-color);
  background-color: var(--orange-color);
  color: #fff !important;
  border: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: var(--orange-color);
  background-color: var(--orange-color);
  color: #fff !important;
  border: none;
}

/*input*/
.input,
.textarea {
  max-width: 270px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--grey-dark-color);
  color: #534039;
  padding: 17px;
  margin-bottom: 16px;
}
.input:focus,
.textarea:focus {
  outline: none;
  border: 2px solid var(--green-color);
  box-shadow: 0 0 0px 1px var(--green-color);
}

.input::placeholder,
.textarea::placeholder {
  color: var(--grey-dark-color);
}
textarea {
  resize: none;
}
label {
  cursor: pointer;
}
.form__text {
  font-family: GolosRegular !important;
  font-weight: 400 !important;
  margin-bottom: 20px;
}

input[type="file"] {
  display: none;
}
/*modal*/
.modal-small {
  max-width: 430px;
}

.modal-content {
  background-color: var(--yellow-light);
  border-radius: 10px;
  position: relative;
}

.modal-content .modal-body {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 67px;
  padding-top: 0;
}
.modal-content .modal-header {
  border: none;
}
.modal-login__btn {
  width: 168px;
  height: 68px;
}

.modal__title {
  margin-bottom: 25px;
}

.modal__float {
  position: absolute;
}

.modal-small .modal__crumb {
  top: -80px;
  left: -96px;
}

.modal-small .modal__blur {
  top: 77%;
  right: -27%;
}

.modal-login__btn {
  margin-bottom: 26px;
  margin-top: 10px;
}

.modal-big {
  max-width: 770px;
}

.modal-big .modal__crumb {
  top: -53px;
  right: 58px;
}

.modal-big .modal__blur {
  bottom: -138px;
  right: -38px;
}

.modal-registration__button {
  width: 270px;
  height: 60px;
  margin-top: 30px;
}

.modal-reset__btn {
  max-width: 270px;
  width: 100%;
  height: 68px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .modal-content .modal-body {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 576px) {
  .modal-content .modal-body {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*status*/
.status {
  border-radius: 52px;
  font-size: 10px;
  padding: 4px 12px 6px;
  display: inline-block;
}

.status-confirm {
  border: 1px solid var(--green-color);
  color: var(--green-color);
}

.status-process {
  border: 1px solid #b3b3b3;
  color: #808080;
}

.status-reject {
  border: 1px solid var(--red-color);
  color: var(--red-color);
  position: relative;
  padding-right: 28px;
}

.status-reject::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  right: 12px;
  transform: translateY(-50%);
  top: 48%;
  background: url(../images/status-question.svg) no-repeat center;
}

.text-success {
  color: var(--green-color);
  font-family: GolosBold;
}

.text-danger {
  color: var(--red-color);
  font-family: GolosBold;
}

.data-status {
  border-radius: 10px;
  padding: 20px 10px;
  margin-top: 20px;
}
.data-status__title {
  font-size: 20px;
}
.data-status img {
  margin-right: 10px;
}
.data-status.correct {
  background-color: var(--green-color);
  color: #fff;
}
.data-status.reject {
  background-color: var(--red-color);
  color: #fff;
}

.data-status.expectation {
  border: 1px dashed #004e42;
}
.data-status.expectation .data-status__title {
  color: #5c514e;
}
.data-status.reject .data-status__subtitle {
  color: #f0a5a3;
  font-size: 13px;
}

.toaster {
  position: fixed;
 top: 0;
 left: 50%;
 transform: translateX(-50%);
border-radius: 0px 0px 16px 16px;
max-width: 1290px;
width: 100%;
display: flex;
justify-content: center;
align-items:center;
padding: 15px 5px;
}
.toaster__icon {
  padding: 5px 15px;
  border-radius: 50%;
  margin-right: 20px;
}
.toaster.success {
  background: var(--green-color);
  color: #fff;
}

.toaster.success .toaster__icon {
  background-color: #3D7540;
}