.container {
  max-width: 1290px;
  margin: 0 auto;
}

.button {
  border-radius: 32px;
  border: none;
  background-color: #fff;
  font-family: GolosBold;
  cursor: pointer;
  display: inline-block;
}

.button--fill {
  border-radius: 70px;
  background-color: var(--orange-color);
  color: #fff;
}
.button--fill:hover {
  background-color: var(--orange-hover-color);
}

.button--empty {
  background-color: transparent;
  border-radius: 70px;
  color: var(--orange-color);
  border: 1px solid var(--orange-color);
}
.table {
  text-align: center;
  position: relative;
  color: var(--dark-green);
}

.thead {
  position: relative;
}
.thead::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff8d1;
  border-radius: 32px;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
}
.table thead th {
  border: none;
}
.table td,
.table th {
  border-top: none;
}
.table tbody tr {
  border-bottom: 1px solid var(--light-green);
}

.table tbody tr td {
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .table tbody tr td {
    padding: 10px;
  }
}

@media screen and (max-width: 640px) {
  .table {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .table {
    font-size: 10px;
  }

  .table tbody tr td {
    padding: 5px;
  }
}

.pagination {
  color: var(--dark-green);
  justify-content: center;
}
.pagination__list {
  list-style: none;
  display: flex;
  gap: 14px;
}

.pagination__list__item {
  width: 48px;
  height: 48px;
  background-color: #fff8d1;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.pagination__list__item:hover {
  background-color: var(--orange-color);
  color: #fff;
}

.pagination__list__item--active {
  background-color: var(--orange-color);
  color: #fff;
}

input,
textarea {
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--grey-dark-color);
  color: #534039;
  padding: 17px;
  margin-bottom: 16px;
}
input:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--green-color);
}

input::placeholder,
textarea::placeholder {
  color: var(--grey-dark-color);
}
textarea {
  resize: none;
}
input[type="checkbox"] {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: var(--orange-color);
}

.modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background-color: var(--yellow-light);
  border-radius: 10px;
  position: relative;
}
.modal__dialog {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 67px;
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .modal__dialog {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 576px) {
  .modal__dialog {
    padding-left: 20px;
    padding-right: 20px;
  }

  .modal__content {
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.modal-small .modal__dialog {
  max-width: 430px;
}
.modal-login__btn {
  width: 168px;
  height: 68px;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal__title {
  margin-bottom: 25px;
}

.modal__float {
  position: absolute;
}

.modal-small .modal__crumb {
  top: -80px;
  left: -96px;
}

.modal-small .modal__blur {
  top: 77%;
  right: -27%;
}

.modal-login__btn {
  margin-bottom: 26px;
  margin-top: 10px;
}

.modal-big .modal__dialog {
  max-width: 770px;
}

.modal-big .modal__crumb {
  top: -53px;
  right: 58px;
}

.modal-big .modal__blur {
  bottom: -138px;
  right: -38px;
}

.modal-registration__button {
  width: 270px;
  height: 60px;
  margin-top: 30px;
}

.modal-reset__btn {
  max-width: 270px;
  width: 100%;
  height: 68px;
  margin-bottom: 20px;
}
